body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

.content{
    height: 100vh;
    width: 100vw;
    background-color: #8DBCC7;
}

.box{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
}

.land{
    width: 100vw;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #B87C4C;
    z-index: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: green 10px solid;
}

.char{
    height: 200px;
    position: absolute;
    bottom: 30px;
}

.button-box{
    display: none;
}

@media only screen and (max-width: 600px) {
    .button-box{
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        bottom: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: white; */
        border-radius: 10px;
        /* opacity: 25%; */
        width: 180px;
        height: 180px;
        gap: 10px;
    }
    
    .button-box button{
        width: 60px;
        height: 60px;
        opacity: 60%;
        font-size: 24px;
        border: none;
        border-radius: 10px;
        background-color: rgba(255,255,255,0.7);
        cursor: pointer;
        user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button-box button:active{
        background-color: rgba(200,200,200,0.7);
    }
    
    .side-button{
        display: flex;
        gap: 20px;
    }
    
}